<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="MyContainer">
      <!--多实例-->
      <register type="UnityTest.Interface.IBll,UnityTest"
                mapTo="UnityTest.BllClass.Bll,UnityTest">
      </register>
      
       <!--单例-->
      <register type="UnityTest.Interface.IBll2,UnityTest"
            mapTo="UnityTest.BllClass.Bll2,UnityTest">
        <lifetime type="singleton" />
      </register>

        <!--带参数-->
      <register type="UnityTest.Interface.IBll3,UnityTest"
          mapTo="UnityTest.BllClass.Bll3,UnityTest">
        <lifetime type="singleton" />
        <constructor>
          <param name="aa" type="System.String" value="333">
          </param>
        </constructor>
      </register>
      
      <register type="UnityTest.Interface.IBll4,UnityTest"
                mapTo="UnityTest.BllClass.Bll4,UnityTest">
      </register>

  <register type="UnityTest.Interface.IDAL,UnityTest"
                mapTo="UnityTest.BllClass.DAL,UnityTest">
      </register>

    </container>
  </unity>
</configuration>